@inherits LayoutComponentBase

@using My_Task.Shared;
@using My_Task.Client.Shared;
@inject ShowAddTask ShowAddTask;
<div class="body">
    <SideNav/>

    <main class="left-body">
        <AddTask>

       </AddTask>

       @Body     
    </main>
    
</div>



