.body[b-f8t08ugx83] {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #242132;
}

.left-body[b-f8t08ugx83] {
    flex: 1;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    display: flex;
}
